
data1/pak0.pak
data1/pak1.pak
hexen2.exe
hexen2.ilk
code/x64/GL Release/zone.sbr
code/x64/GL Release/world.sbr
code/x64/GL Release/winquake.tlog/winquake.lastbuildstate
code/x64/GL Release/winquake.tlog/rc.write.1.tlog
code/x64/GL Release/winquake.tlog/rc.read.1.tlog
code/x64/GL Release/winquake.tlog/rc.command.1.tlog
code/x64/GL Release/winquake.tlog/link.write.1.tlog
code/x64/GL Release/winquake.tlog/link.read.1.tlog
code/x64/GL Release/winquake.tlog/link.command.1.tlog
code/x64/GL Release/winquake.tlog/CL.write.1.tlog
code/x64/GL Release/winquake.tlog/CL.read.1.tlog
code/x64/GL Release/winquake.tlog/CL.command.1.tlog
code/x64/GL Release/winquake.tlog/bscmake.write.1.tlog
code/x64/GL Release/winquake.tlog/bscmake.read.1.tlog
code/x64/GL Release/winquake.tlog/bscmake.command.1.tlog
code/x64/GL Release/winquake.res
code/x64/GL Release/winquake.pdb
code/x64/GL Release/Winquake.log
code/x64/GL Release/winquake.exe.recipe
code/x64/GL Release/wad.sbr
code/x64/GL Release/view.sbr
code/x64/GL Release/sys_win.sbr
code/x64/GL Release/sv_user.sbr
code/x64/GL Release/sv_phys.sbr
code/x64/GL Release/sv_move.sbr
code/x64/GL Release/sv_main.sbr
code/x64/GL Release/snd_win.sbr
code/x64/GL Release/snd_mix.sbr
code/x64/GL Release/snd_mem.sbr
code/x64/GL Release/snd_dma.sbr
code/x64/GL Release/sbar.sbr
code/x64/GL Release/r_part.sbr
code/x64/GL Release/pr_exec.sbr
code/x64/GL Release/pr_edict.sbr
code/x64/GL Release/pr_cmds.sbr
code/x64/GL Release/net_wipx.sbr
code/x64/GL Release/net_wins.sbr
code/x64/GL Release/net_win.sbr
code/x64/GL Release/net_vcr.sbr
code/x64/GL Release/net_main.sbr
code/x64/GL Release/net_loop.sbr
code/x64/GL Release/net_dgrm.sbr
code/x64/GL Release/mstrconv.sbr
code/x64/GL Release/midi.sbr
code/x64/GL Release/menu.sbr
code/x64/GL Release/mathlib.sbr
code/x64/GL Release/keys.sbr
code/x64/GL Release/in_win.sbr
code/x64/GL Release/host_cmd.sbr
code/x64/GL Release/host.sbr
code/x64/GL Release/gl_warp.sbr
code/x64/GL Release/gl_vidnt.sbr
code/x64/GL Release/gl_test.sbr
code/x64/GL Release/gl_screen.sbr
code/x64/GL Release/gl_rsurf.sbr
code/x64/GL Release/gl_rmisc.sbr
code/x64/GL Release/gl_rmain.sbr
code/x64/GL Release/gl_rlight.sbr
code/x64/GL Release/gl_refrag.sbr
code/x64/GL Release/gl_model.sbr
code/x64/GL Release/gl_mesh.sbr
code/x64/GL Release/gl_draw.sbr
code/x64/GL Release/cvar.sbr
code/x64/GL Release/crc.sbr
code/x64/GL Release/console.sbr
code/x64/GL Release/conproc.sbr
code/x64/GL Release/common.sbr
code/x64/GL Release/cmd.sbr
code/x64/GL Release/cl_tent.sbr
code/x64/GL Release/cl_parse.sbr
code/x64/GL Release/cl_main.sbr
code/x64/GL Release/cl_input.sbr
code/x64/GL Release/cl_effect.sbr
code/x64/GL Release/cl_demo.sbr
code/x64/GL Release/chase.sbr
code/x64/GL Release/cd_win.sbr
code/x64/GL Debug/winquake.tlog/winquake.lastbuildstate
code/x64/GL Debug/winquake.tlog/rc.write.1.tlog
code/x64/GL Debug/winquake.tlog/rc.read.1.tlog
code/x64/GL Debug/winquake.tlog/rc.command.1.tlog
code/x64/GL Debug/winquake.tlog/link.write.1.tlog
code/x64/GL Debug/winquake.tlog/link.read.1.tlog
code/x64/GL Debug/winquake.tlog/link.command.1.tlog
code/x64/GL Debug/winquake.tlog/CL.write.1.tlog
code/x64/GL Debug/winquake.tlog/CL.read.1.tlog
code/x64/GL Debug/winquake.tlog/CL.command.1.tlog
code/x64/GL Debug/winquake.res
code/x64/GL Debug/winquake.pdb
code/x64/GL Debug/Winquake.log
code/x64/GL Debug/winquake.exe.recipe
code/x64/GL Debug/RCa17476
code/release_gl/zone.obj
code/release_gl/world.obj
code/release_gl/Winquake.bsc
code/release_gl/wad.obj
code/release_gl/view.obj
code/release_gl/vc142.pdb
code/release_gl/sys_win.obj
code/release_gl/sv_user.obj
code/release_gl/sv_phys.obj
code/release_gl/sv_move.obj
code/release_gl/sv_main.obj
code/release_gl/snd_win.obj
code/release_gl/snd_mix.obj
code/release_gl/snd_mem.obj
code/release_gl/snd_dma.obj
code/release_gl/sbar.obj
code/release_gl/r_part.obj
code/release_gl/pr_exec.obj
code/release_gl/pr_edict.obj
code/release_gl/pr_cmds.obj
code/release_gl/net_wipx.obj
code/release_gl/net_wins.obj
code/release_gl/net_win.obj
code/release_gl/net_vcr.obj
code/release_gl/net_main.obj
code/release_gl/net_loop.obj
code/release_gl/net_dgrm.obj
code/release_gl/mstrconv.obj
code/release_gl/midi.obj
code/release_gl/menu.obj
code/release_gl/mathlib.obj
code/release_gl/keys.obj
code/release_gl/in_win.obj
code/release_gl/host_cmd.obj
code/release_gl/host.obj
code/release_gl/gl_warp.obj
code/release_gl/gl_vidnt.obj
code/release_gl/gl_test.obj
code/release_gl/gl_screen.obj
code/release_gl/gl_rsurf.obj
code/release_gl/gl_rmisc.obj
code/release_gl/gl_rmain.obj
code/release_gl/gl_rlight.obj
code/release_gl/gl_refrag.obj
code/release_gl/gl_model.obj
code/release_gl/gl_mesh.obj
code/release_gl/gl_draw.obj
code/release_gl/cvar.obj
code/release_gl/crc.obj
code/release_gl/console.obj
code/release_gl/conproc.obj
code/release_gl/common.obj
code/release_gl/cmd.obj
code/release_gl/cl_tent.obj
code/release_gl/cl_parse.obj
code/release_gl/cl_main.obj
code/release_gl/cl_input.obj
code/release_gl/cl_effect.obj
code/release_gl/cl_demo.obj
code/release_gl/chase.obj
code/release_gl/cd_win.obj
code/debug_gl/zone.obj
code/debug_gl/world.obj
code/debug_gl/wad.obj
code/debug_gl/view.obj
code/debug_gl/vc142.pdb
code/debug_gl/sys_win.obj
code/debug_gl/sv_user.obj
code/debug_gl/sv_phys.obj
code/debug_gl/sv_move.obj
code/debug_gl/sv_main.obj
code/debug_gl/snd_win.obj
code/debug_gl/snd_mix.obj
code/debug_gl/snd_mem.obj
code/debug_gl/snd_dma.obj
code/debug_gl/sbar.obj
code/debug_gl/r_part.obj
code/debug_gl/pr_exec.obj
code/debug_gl/pr_edict.obj
code/debug_gl/pr_cmds.obj
code/debug_gl/net_wipx.obj
code/debug_gl/net_wins.obj
code/debug_gl/net_win.obj
code/debug_gl/net_vcr.obj
code/debug_gl/net_main.obj
code/debug_gl/net_loop.obj
code/debug_gl/net_dgrm.obj
code/debug_gl/mstrconv.obj
code/debug_gl/midi.obj
code/debug_gl/menu.obj
code/debug_gl/mathlib.obj
code/debug_gl/keys.obj
code/debug_gl/in_win.obj
code/debug_gl/host_cmd.obj
code/debug_gl/host.obj
code/debug_gl/gl_warp.obj
code/debug_gl/gl_vidnt.obj
code/debug_gl/gl_test.obj
code/debug_gl/gl_screen.obj
code/debug_gl/gl_rsurf.obj
code/debug_gl/gl_rmisc.obj
code/debug_gl/gl_rmain.obj
code/debug_gl/gl_rlight.obj
code/debug_gl/gl_refrag.obj
code/debug_gl/gl_model.obj
code/debug_gl/gl_mesh.obj
code/debug_gl/gl_draw.obj
code/debug_gl/cvar.obj
code/debug_gl/crc.obj
code/debug_gl/console.obj
code/debug_gl/conproc.obj
code/debug_gl/common.obj
code/debug_gl/cmd.obj
code/debug_gl/cl_tent.obj
code/debug_gl/cl_parse.obj
code/debug_gl/cl_main.obj
code/debug_gl/cl_input.obj
code/debug_gl/cl_effect.obj
code/debug_gl/cl_demo.obj
code/debug_gl/chase.obj
code/debug_gl/cd_win.obj
code/.vs/Winquake/v16/Solution.VC.db-wal
code/.vs/Winquake/v16/Solution.VC.db-shm
code/.vs/Winquake/v16/Solution.VC.db
code/.vs/Winquake/v16/ipch/AutoPCH/f7ce0055f4e58861/PR_EDICT.ipch
code/.vs/Winquake/v16/ipch/AutoPCH/7fa5c0521cb36aed/SV_PHYS.ipch
code/.vs/Winquake/v16/ipch/AutoPCH/43c49b495cb6bd4/SV_MOVE.ipch
code/.vs/Winquake/v16/ipch/AutoPCH/403eb771ba9f0e88/SV_MAIN.ipch
code/.vs/Winquake/v16/ipch/AutoPCH/3582478e66abb94f/SYS_WIN.ipch
code/.vs/Winquake/v16/ipch/AutoPCH/24a0ba9fb50bdc0f/WORLD.ipch
code/.vs/Winquake/v16/Browse.VC.opendb
code/.vs/Winquake/v16/Browse.VC.db-wal
code/.vs/Winquake/v16/Browse.VC.db-shm
code/.vs/Winquake/v16/Browse.VC.db
code/.vs/Winquake/v16/.suo
code/.vs/Winquake/v15/Solution.VC.db
code/.vs/Winquake/v15/Browse.VC.db
code/.vs/Winquake/v15/.suo
code/Winquake.vcxproj.user
code/PhysX_4p1/.vs/PhysX/v16/Browse.VC.db
code/PhysX_4p1/.vs/PhysX/v16/.suo
code/x64/GL Debug/winquake.tlog/unsuccessfulbuild
code/.vs/Winquake/v16/ipch/AutoPCH/d8b66e134ee294a9/CD_WIN.ipch
